@use "../base/_variables";

@keyframes runningDog {
    from {
        transform: translate(-100%, 0);
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    to {
        transform: translate(100%, 0);
        opacity: 0;
    }
}

.animateDog {
    animation: runningDog 4s ease-in-out running;
}