@use "../base/_variables";

@keyframes shadowText {
    0% {
        text-shadow: 0px 0px 5px variables.$darker-color;
    }

    50% {
        text-shadow: 0px 0px 30px variables.$darker-color;
    }

    100% {
        text-shadow: 0px 0px 5px variables.$darker-color;
    }

}


@keyframes runningDog {
    from {
        transform: translate(-100%, 0);
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    to {
        transform: translate(100%, 0);
        opacity: 0;
    }
}